
.temphigh{
	color:red;
}

.templow{
	color:green;
}

.day{
	padding: 50px;
	float: left;
}

#query_div{
	padding-bottom: 20px;
}

#message_div{
	padding-bottom: 20px;
}

#options{
	padding-bottom: 10px;
}

.smalltext{
	font-size: 10px;
}

.header {
  padding: 30px;
}